.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      color: #14375F;
      &.selected {
        color:#55ACEC;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

  }
}
